
.DS_Store
.idea/
__pycache__/*

*.pyc
*.log

data/
logs/
snapshots/
tmp/
p3env/
_p3env/

profile_exp/profile_master.txt
profile_exp/profile_worker.txt
profile_master.txt
profile_worker.txt

chain.png
tmp.txt
